.applicant-editor-controls.delete{
  color: #ffffffb3;
  float: left;
  display: inline-block;
  padding: unset;
  height: unset;
  transform: translate(-16px);
  transition: 0.15s transform;
}
.applicant-editor-controls.delete:hover{
  transform: translate(0px);
  color: white;
  transition: 0.15s transform;
}
.applicant-editor-controls-text{
  font-size: 32px;
  font-weight: 800;
  margin-left: 16px;
}
