.list-wrapper {
  max-width: 1200px;
  margin: auto;
}
.list-item-preview {
  display: flex;
  padding: 32px;
  margin: 16px auto;
  background: #fcfbf7;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  max-width: 600px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.15s all;
}
.list-item-preview:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: 0.15s all;
  margin: 16px auto 32px auto;
  transform: scale(1.02);
}

.list-item-preview:active {
  box-shadow: unset;
  transition: 0.15s all;
  transform: scale(0.99);
}

.list-item-info-wrapper {
  display: flex;
  flex-direction: column;
}
.list-item-name {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 32px;
}
.list-item-important-stuff {
  font-size: 15px;
  font-weight: 300;
  color: #4a4a4a;
  max-width: 66ch;
  letter-spacing: 0.03em;
}
