.applicant-list{
  margin-bottom: 16px;
}
.list-item-preview {
  display: flex;
  padding: 32px;
  margin: 0 auto;
  border-bottom: 1px solid #e0e0e0;
  background: #fcfbf7;
  max-width: 710px;
  cursor: pointer;
  transition: 0.15s all;
}
.list-item-preview:hover {
  transition: 0.15s all;
  transform: scale(1.005);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
.list-item-preview:active {
  box-shadow: unset;
  transition: 0.15s all;
  transform: scale(0.99);
}
.list-item-info-wrapper {
  display: flex;
  flex-direction: column;
}
.list-item-name {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
}
.list-item-notes {
  font-size: 16px;
  font-weight: 300;
  color: #4a4a4a;
  max-width: 80ch;
  letter-spacing: 0.03em;
}
