header {
  height: 64px;
  line-height: 32px;
  padding: 16px;
  background-color: #fcfbf7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

header nav{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-logo-wrap {
  display: flex;
  width: 200px;
}

.header-logo-default {
  max-width: 100%;
  height: auto;
}

.header-add-new {
  margin-right: 16px;
  font-size: 16px;
  font-weight: normal;
  transition: transform .1s;
}


.header-add-new:hover {
  color: #000;
  border-bottom: 1px solid black;
  transform: translate(4px);
  transition: transform .1s;
}

.header-add-new:active {
  transform: translate(8px);
  transition: transform .1s;
}

.header-user {
  display: inline-flex;
  height: 100%;
}

.header-user-name {
  font-size: 16px;
  font-weight: 300;
}

.header-user-avatar-wrapper {
  margin-left: 16px;
}

.header-user-avatar {
  max-width: 100%;
  height: 100%;
  border-radius: 50%;
}


.more-options{
  position: absolute;
  top: 0;
  right: 24px;
  margin-top: 76px;
  background-color: #fcfbf7;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.more-options-buttons{
  cursor: pointer;
}
.account-wrapper{
  display: block;
  padding: 10px 20px;
  position: relative;
  white-space: nowrap;
}
.avatar{
  border: none;
  vertical-align: top;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}
.user-wrapper{
  font-size: 13px;
  line-height: 1.3;
  display: inline-block;
  margin: 6px 0 0 10px;
}
.user-name {
  color: #000;
}
.user-email {
  color: #666;
}
.user-controls{
  border-top: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  padding: 10px 20px;
  width: 100%;
  display: table;
}
.logout-button{
  display: table-cell;
  text-align: right;
}
