body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: #de3c4a;
  color: #343434;
  line-height: 1.618em;
  font-size: 14px;
}
@font-face {
  font-family: Roboto;
  src: url('fonts/roboto/Roboto-Thin.woff2') format('woff2'),
       url('fonts/roboto/Roboto-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url('fonts/roboto/Roboto-Light.woff2') format('woff2'),
       url('fonts/roboto/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url('fonts/roboto/Roboto-Regular.woff2') format('woff2'),
       url('fonts/roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url('fonts/roboto/Roboto-Medium.woff2') format('woff2'),
       url('fonts/roboto/Roboto-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url('fonts/roboto/Roboto-Bold.woff2') format('woff2'),
       url('fonts/roboto/Roboto-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

h1{
  font-size: 2rem;
}
